
:root{
--header-color: #212121;
--text-color: #757575;
--accent-color:  #2196F3;
}

body{
  font-family: 'Roboto', sans-serif; 
}
.list{
    list-style: none;
}
.link{
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/*----------Верхняя линия------------*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.logo-style {
  color: #000000;
}

.header-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-color);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-mail, .header-tel{
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}
.header-mail:hover, .header-mail:focus,
.header-tel:hover, .header-tel:focus{
  color: var(--accent-color);
}
/*------------Hero--------------*/
.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
max-width: 696px;
margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: #ffffff;
text-transform: uppercase;
}
.hero-btn{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.hero-btn:hover, 
.hero-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/*--------Особенности----------*/
.slogan {
  padding-top: 94px;
  padding-bottom: 94px;
}
.slogan-title {
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--header-color);
}
.slogan-text {
  max-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*---------Чем мы занимаемся-------*/
.aside {
  padding-bottom: 94px;
}
.aside-title{
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
}
/*-----------Наша команда----------- */
.command {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.command-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em; 
  color: var(--text-color);
}
/*---------Постоянные клиенты--------*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
}

/*--------------Подвал---------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer-logo{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.footer-logo-style{
  color: #ffffff;
}

.footer-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer-mail, .footer-tel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,.footer-mail:hover,
.footer-tel:focus, .footer-mail:focus {
color: var(--accent-color);
}